.home.dark{
    background : #333;
    padding : 20px  70px
}

.home{
    padding : 20px  70px
}

@media screen and (max-width : 480px) {
    .home{
        padding: 10px;
    }
}

@media screen and (max-width : 960px) {
    .home{
        padding: 20px;
    }
}