.rightbar {
    flex : 3;  
    position: sticky;
    top : 70px;
    height : calc(100vh - 70px);
    overflow : scroll;
    /* background: ; */
} 

.rightbar.dark{
    background : #333;
    color : white
}


.rightbar::-webkit-scrollbar{
    display: none  ;
}

.rightbar .container{
    padding : 20px;
}

.rightbar .container .item{
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
    padding : 10px;
    margin-bottom: 20px;
}

.rightbar.dark .container .item{
    background : #222
}

.rightbar .container .item .user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin : 20px
}

.rightbar .container .item .user .userInfo {
    display: flex;
    align-items: center;
    gap : 20px
}

.rightbar .container .item .user .userInfo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    
}

.rightbar .container .item .user .userInfo span {
    font-weight : 500;
    color : black
}


.rightbar .container .item .user .userInfo span {
    color : gray;

}

.rightbar .container .item .user .buttons {
    display: flex;
    align-items: center;
    gap : 10px
}

.rightbar .container .item .user .buttons button {
    border : none;
    padding : 5px;
    color : white;
    cursor : pointer
}

.rightbar .container .item .user .buttons button:first-child{
    background-color: #5271ff;
}

.rightbar .container .item .user .buttons button:last-child{
    background-color : #f0544f;
}

.rightbar .container .item .user .userInfo span{
    color : black
}

.rightbar.dark .container .item .user .userInfo span{
    color : whitesmoke
}

.rightbar .container .item .user .userInfo p{
    color : whitesmoke
}

.rightbar.dark .container .item .user .userInfo p{
    color : lightgray
}

.rightbar.dark .container .item .user .userInfo p{
    color : whitesmoke
}


.rightbar .container .item .user .userInfo .online{
    width: 12px;height: 12px;
    border-radius: 50%;
    ;
    background-color: limegreen;
    position : absolute;
    /* top : -1px; */
    left : 80px
}

@media screen and (max-width : 480px) {
    .rightbar{
        display: none;
    }
}


@media screen and (max-width : 960px) {
    .rightbar{
        display: none;
    }
}